table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #bdbcbc;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: beige;
}

.lookupEditIcon {
    background-color: transparent;
}

.lookupEditIcon:hover {
    background-color: grey;
    color: white;
}

.lookupDeleteIcon {
    color: red;
    background-color: transparent;
}

.lookupDeleteIcon:hover {
    background-color: orange;
    color: white;
}

.deleteLookupXIcon {
    color: red;
}

.lookupCreateIcon {
    color: white;
}

.lookupBackButton {
    float: left;
    color: blue;
}

.createTH {
    background-color: blue;
}

.lookupCardTitle {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.addNewlookupBtn {
    float: right;
    color: blue;
}
