table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #bdbcbc;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: beige;
}

.rankEditIcon {
    background-color: transparent;
}

.rankEditIcon:hover {
    background-color: grey;
    color: white;
}

.rankDeleteIcon {
    color: red;
    background-color: transparent;
}

.rankDeleteIcon:hover {
    background-color: orange;
    color: white;
}

.deleteRankXIcon {
    color: red;
}

.ranksCreateIcon {
    color: white;
}

.ranksBackButton {
    float: left;
    color: blue;
}

.createTH {
    background-color: blue;
}

.ranksCardTitle {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.addNewRanksBtn {
    float: right;
    color: blue;
}
