table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #bdbcbc;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: beige;
}

.roleEditIcon {
    background-color: transparent;
}

.roleEditIcon:hover {
    background-color: grey;
    color: white;
}

.roleDeleteIcon {
    color: red;
    background-color: transparent;
}

.roleDeleteIcon:hover {
    background-color: orange;
    color: white;
}

.deleteRoleXIcon {
    color: red;
}

.rolesCreateIcon {
    color: white;
}

.rolesBackButton {
    float: left;
    color: blue;
}

.createTH {
    background-color: blue;
}

.rolesCardTitle {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.addNewRolesBtn {
    float: right;
    color: blue;
}
