table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #bdbcbc;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: beige;
}

.groupEditIcon {
    background-color: transparent;
}

.groupEditIcon:hover {
    background-color: grey;
    color: white;
}

.groupDeleteIcon {
    color: red;
    background-color: transparent;
}

.groupDeleteIcon:hover {
    background-color: orange;
    color: white;
}

.deleteGroupXIcon {
    color: red;
}

.groupsCreateIcon {
    color: white;
}

.groupsBackButton {
    float: left;
    color: blue;
}

.createTH {
    background-color: blue;
}

.groupsCardTitle {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.addNewGroupsBtn {
    float: right;
    color: blue;
}